@charset "utf-8";
.swiper {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #222429;
}
.swiper__list {
  margin-top: 5.6rem;
}
.swiper__item + .swiper__item {
  margin-top: 5.6rem;
}
.swiper__title {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #999;
  line-height: 2rem;
}
.swiper__content {
  position: relative;
  margin-top: 1.2rem;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.swiper__option {
  margin-top: 1.2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #999;
  letter-spacing: 1px;
}
.swiper__option-tab {
  display: block;
  margin-top: 0.4rem;
  text-transform: initial;
  font-size: 1.6rem;
  color: #fff;
  line-height: 2rem;
}
.swiper__option-tab .swiper__option-tab {
  margin-top: 0;
  padding-left: 4rem;
}
.swiper__option-annotate {
  font-size: 1.6rem;
  color: #666;
  line-height: 2rem;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.swiper-container.-h.-column {
  height: auto;
}
.swiper-container.-v,
.swiper-container.-connection {
  height: 20rem;
}
.swiper-container.-thumbs {
  border-top: 1px solid #666;
}
.swiper-container.-connected {
  position: absolute;
  z-index: 2;
  top: -5rem;
  right: 5rem;
  width: 10rem;
  height: 10rem;
  border: 1px solid #666;
  background-color: #222429;
}
.swiper-slide {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  padding: 10rem 0;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 0;
}
.swiper-container.-h.-multiple .swiper-slide,
.swiper-container.-h.-loop .swiper-slide,
.swiper-container.-h.-autoplay .swiper-slide {
  width: 25%;
}
.swiper-container.-v.-complex .swiper-slide,
.swiper-container.-v.-column .swiper-slide {
  padding: 0;
}
.swiper-container.-v.-column .swiper-slide {
  flex-wrap: wrap;
}
.swiper-container.-thumbs .swiper-slide {
  padding: 5rem;
  border-right: 1px solid #666;
  font-size: 2rem;
}
.swiper-container.-thumbs .swiper-slide:first-child {
  border-left: 1px solid #666;
}
.swiper-container.-connected .swiper-slide {
  padding: 0;
  font-size: 2rem;
}
.swiper-slide__complex-alinger {
  display: block;
  width: 25%;
  height: 20rem;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 20rem;
}
.swiper-container.-v.-column.-col2 .swiper-slide__complex-alinger {
  height: 10rem;
  line-height: 10rem;
}
.swiper-container.-h.-fraction .swiper-pagination,
.swiper-container.-h.-fraction .swiper-pagination * {
  font-size: 1.6rem;
  color: #fff;
  line-height: 2rem;
}
.swiper-container.-h.-bullet .swiper-pagination,
.swiper-container.-h.-bullet .swiper-pagination * {
  background: none;
  font-size: 1.6rem;
  color: #fff;
  line-height: 0;
}
.swiper-container.-v.-fraction .swiper-pagination,
.swiper-container.-v.-fraction .swiper-pagination * {
  font-size: 1.6rem;
  color: #fff;
  line-height: 2rem;
}
.swiper-container.-v.-bullet .swiper-pagination,
.swiper-container.-v.-bullet .swiper-pagination * {
  background: none;
  font-size: 1.6rem;
  color: #fff;
  line-height: 0;
}
