@charset "utf-8";
.count-up {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #222429;
}
.count-up__list {
  margin-top: 3.2rem;
}
.count-up__item + .count-up__item {
  margin-top: 3.2rem;
}
.count-up__title {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #999;
  line-height: 1.6rem;
}
.count-up__integer {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
}
.count-up__button {
  background-color: #0f0f13;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 1px;
}
.count-up__button.-passive {
  display: block;
  margin-top: 1.2rem;
  padding: 1.2rem 2rem;
}
.count-up__button.-passive:before {
  content: "↑";
  display: inline-block;
  vertical-align: middle;
  margin: -0.6rem 0.4rem 0 0;
}
.count-up__button.-enter {
  display: inline-block;
  vertical-align: top;
  height: 4.4rem;
  margin-left: 1.2rem;
  padding: 0 2rem;
  line-height: 4.4rem;
}
.count-up__button:hover,
.count-up__button:focus {
  box-shadow: 0 0 0 0.2rem #222429, 0 0 0 0.4rem #0f0f13;
}
.count-up__re-load {
  display: block;
  position: absolute;
  top: 3.2rem;
  right: 5.6rem;
  padding: 1.2rem 2rem;
  background-color: #0f0f13;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 1px;
}
.count-up__re-load:before {
  content: "↻";
  display: inline-block;
  vertical-align: top;
  margin: 0 0.4rem 0 0;
}
.count-up__re-load:hover,
.count-up__re-load:focus {
  box-shadow: 0 0 0 0.2rem #222429, 0 0 0 0.4rem #0f0f13;
}
.count-up__fieldset {
  margin-top: 1.2rem;
}
.count-up__form {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.count-up__form + .count-up__form {
  margin-left: 1.2rem;
}
.count-up__input {
  width: 100%;
  height: 4.4rem;
  padding: 0 1.2rem;
  outline: 0;
  border: 0;
  background: none;
  background-color: #333;
  font-size: 1.6rem;
  color: #fff;
  line-height: 4.4rem;
}
.count-up__input::placeholder {
  text-transform: capitalize;
  color: #666;
}
.count-up__result {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
}
