@charset "utf-8";
.dangle {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #222429;
}
.dangle__list {
  margin-top: 5.6rem;
}
.dangle__item + .dangle__item {
  margin-top: 5.6rem;
}
.dangle__title {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #999;
  line-height: 2rem;
}
.dangle__eaves {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 1.2rem;
  padding: 0 9.6rem 1.2rem 9.6rem;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.dangle__wind-chime {
  display: block;
  width: 3.2rem;
  height: 12.8rem;
  margin: 0 auto;
  padding-top: 9.6rem;
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
  transform-origin: top center;
}
.dangle__wind-chime:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 9.6rem;
  background-color: #666;
}
.dangle__wind-chime.-constant {
  animation: constant 1s ease-in-out alternate infinite;
}
.dangle__wind-chime.-bounce {
  animation: bounce 1s linear alternate infinite;
}
.dangle__wind-chime.-finite {
  animation: unset;
}
.dangle__wind-chime.-finite.-active.-gradual {
  animation: gradual 1s ease-in-out;
}
.dangle__wind-chime.-finite.-active.-quake {
  animation: quake 1s ease-in-out;
}
.dangle__wind-chime.-repeat {
  animation: unset;
}
.dangle__wind-chime.-repeat.-active.-quake {
  animation: quake 1s ease-in-out;
}
.dangle__button {
  display: inline-block;
  vertical-align: bottom;
  margin: 1.2rem 0 0 1.2rem;
  padding: 1.2rem 2rem;
  background-color: #0f0f13;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}
.dangle__button:before {
  content: "←";
  display: inline-block;
  vertical-align: middle;
  margin: -0.4rem 0.4rem 0 0;
}
.dangle__button:hover,
.dangle__button:focus {
  box-shadow: 0 0 0 0.2rem #222429, 0 0 0 0.4rem #0f0f13;
}
.dangle__desc {
  margin-top: 0.4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.6rem;
}
.dangle__desc span {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  line-height: 1.6rem;
}
@keyframes constant {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes bounce {
  0% {
    transform: rotate(45deg);
  }
  12.5% {
    transform: rotate(43deg);
  }
  25% {
    transform: rotate(40deg);
  }
  75% {
    transform: rotate(-40deg);
  }
  87.5% {
    transform: rotate(-43deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes gradual {
  0% {
    transform: rotate(45deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(32.5deg);
  }
  60% {
    transform: rotate(-16.25deg);
  }
  80% {
    transform: rotate(8.125deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes quake {
  0% {
    transform: rotate(45deg);
  }
  12.5% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(22.5deg);
  }
  37.5% {
    transform: rotate(-22.5deg);
  }
  50% {
    transform: rotate(11.25deg);
  }
  62.5% {
    transform: rotate(-11.25deg);
  }
  75% {
    transform: rotate(5.625deg);
  }
  87.5% {
    transform: rotate(-5.625deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
