@charset "utf-8";
.text {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #222429;
}
.text__list {
  margin-top: 5.6rem;
}
.text__item + .text__item {
  margin-top: 5.6rem;
}
.text__title {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #999;
  line-height: 2rem;
}
.text__content {
  margin-top: 1.2rem;
}
