@charset "utf-8";
.parameter {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #222429;
}
.parameter__list {
  margin-top: 5.6rem;
}
.parameter__item + .parameter__item {
  margin-top: 5.6rem;
}
.parameter__title {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #999;
  line-height: 2rem;
}
.parameter__content {
  margin-top: 1.2rem;
  padding: 4rem 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.parameter__aligner + .parameter__aligner {
  margin-top: 4rem;
}
.parameter__aligner-title {
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.6rem;
}
.parameter__original-url {
  font-size: 1.6rem;
  color: #74d2a8;
  line-height: 2rem;
}
.parameter__random-label {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: auto;
  margin-top: 0.6rem;
}
.parameter__random-input {
  width: 100%;
  height: 4.4rem;
  padding: 0 1.2rem;
  outline: 0;
  border: 0;
  border: 1px solid #fff;
  background: none;
  font-size: 1.6rem;
  color: #74d2a8;
  text-align: center;
  line-height: 4.4rem;
}
.parameter__random-input::placeholder {
  text-transform: capitalize;
  color: #666;
}
.parameter__random-input[readonly="readonly"] {
  cursor: not-allowed;
  border-color: #666;
  background-color: #333;
}
.parameter__random-button {
  display: inline-block;
  vertical-align: bottom;
  height: 4.4rem;
  margin-left: 1.2rem;
  padding: 0 2rem;
  background-color: #0f0f13;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  line-height: 4.4rem;
  letter-spacing: 1px;
}
.parameter__random-button:hover,
.parameter__random-button:focus {
  box-shadow: 0 0 0 0.2rem #222429, 0 0 0 0.4rem #0f0f13;
}
.parameter__random-url span {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  color: #74d2a8;
  line-height: 2rem;
}
.parameter__random-url span + span {
  display: none;
}
.parameter__random-url span + span.-active {
  display: inline-block;
}
.parameter__random-url span + span:before {
  content: "+";
  display: inline-block;
  vertical-align: top;
  margin: 0 0.8rem;
  color: #999;
}
.parameter__desc {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #999;
  line-height: 1.6rem;
  letter-spacing: 1px;
}
.parameter__desc span {
  margin: 0 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}
.parameter__desc span:first-child {
  margin-left: 0;
}
.parameter__desc span:last-child {
  margin-right: 0;
}
.parameter__notice-list {
  width: 53rem;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #0f0f13;
}
.parameter__notice-item {
  font-size: 1.2rem;
  font-weight: bold;
  color: #666;
  letter-spacing: 1px;
  line-height: 1.6rem;
}
.parameter__notice-item span {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  text-align: center;
}
.parameter__notice-item + .parameter__notice-item {
  margin-top: 0.2rem;
}
.parameter__link {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 1.6rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #666;
  letter-spacing: 1px;
  line-height: 1.6rem;
}
.parameter__link:before {
  content: "↪";
  display: inline-block;
  vertical-align: top;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0 0 -1.6rem;
}
.parameter__link:hover,
.parameter__link:focus {
  color: #6f96d0;
}
.parameter__link.-random {
  cursor: not-allowed;
  color: red;
}
.parameter__link.-random:hover,
.parameter__link.-random:focus {
  color: red;
}
.parameter__link.-random.-active {
  cursor: pointer;
  color: #666;
}
.parameter__link.-random.-active:hover,
.parameter__link.-random.-active:focus {
  color: #6f96d0;
}
.parameter__access {
  position: relative;
  padding: 50rem 0;
  background: url("../images/parameter__content--access.png") no-repeat center 32rem;
  background-size: 24rem auto;
}
.parameter__access:before,
.parameter__access:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.parameter__access:before {
  margin-top: 4rem;
  font-size: 4.8rem;
  font-weight: bold;
  color: #fff;
  line-height: 6rem;
}
.parameter__access:after {
  margin-top: 16rem;
  font-size: 2.4rem;
  color: #666;
  line-height: 3.2rem;
}
.parameter__content.-original .parameter__access:before {
  content: "access to original url";
}
.parameter__content.-original .parameter__access:after {
  content: "the user accessed through the original url from dashboard";
}
.parameter__content.-random .parameter__access:before {
  content: "access to original url + random parameter";
}
.parameter__content.-random .parameter__access:after {
  content: "the user accessed through the original url + random parameter from dashboard";
}
