@charset "utf-8";
.text {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #222429;
}
.text__list {
  margin-top: 5.6rem;
}
.text__item + .text__item {
  margin-top: 5.6rem;
}
.text__title {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #999;
  line-height: 2rem;
}
.text__content {
  position: relative;
  min-height: 10rem;
  margin-top: 1.2rem;
}
.text__content.-col2 {
  display: inline-block;
  vertical-align: top;
  margin: 5.6rem 6rem 0 0;
  padding-right: 2rem;
  border-right: 1px solid #666;
}
.text__text {
  display: inline-block;
  vertical-align: top;
  font-size: 8rem;
  font-weight: bold;
  color: #222429;
  line-height: 10rem;
}
.text__text.-vertical {
  color: #fff;
  writing-mode: vertical-lr;
}
.text__text.-border {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.text__text.-wave.-linear {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff, 0.3rem 0.3rem 0 #222429, 0.4rem 0.4rem 0 #fff;
}
.text__text.-distinct {
  text-shadow: 0 -1px #000, 0 1px #000, -1px 0 #000, 1px 0 #000, 1px 0.2rem 1px #000, 0.2rem 0.3rem 1px #000, 0.3rem 0.4rem 1px #000, 0.4rem 0.5rem 1px #000, 0.5rem 0.6rem 1px #000, 0.6rem 0.7rem 1px #000, 0.7rem 0.8rem 1px #000, 0.8rem 0.9rem 1px #000, 0.9rem 1rem 1px #000;
}
.text__text.-subtle.-linear {
  text-shadow: 0 -1px #000, 0 1px #000, -1px 0 #000, 1px 0 #000, 1px 0.2rem 1px rgba(0, 0, 0, 0.9), 0.2rem 0.3rem 1px rgba(0, 0, 0, 0.8), 0.3rem 0.4rem 1px rgba(0, 0, 0, 0.7), 0.4rem 0.5rem 1px rgba(0, 0, 0, 0.6), 0.5rem 0.6rem 1px rgba(0, 0, 0, 0.5), 0.6rem 0.7rem 1px rgba(0, 0, 0, 0.4), 0.7rem 0.8rem 1px rgba(0, 0, 0, 0.3), 0.8rem 0.9rem 1px rgba(0, 0, 0, 0.2), 0.9rem 1rem 1px rgba(0, 0, 0, 0.1);
}
.text__text.-subtle.-radial {
  text-shadow: 0 0 2rem #000;
}
.text__text.-inset {
  background: #000;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 1px 1rem #222429;
}
.text__text.-clip {
  background: url("../images/text__text-clip.jpg") no-repeat center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text__text.-neon {
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
  color: #99ff99;
  text-shadow: 0 0 2rem #00ff00, 0 0 2rem #00ff00, 0 0 2rem #00ff00, 0 0 2rem #00ff00;
}
.text__text.-overlay {
  position: absolute;
}
.text__text.-overlay:nth-of-type(2) {
  top: -0.4rem;
  left: 0.4rem;
}
.text__text.-overlay:nth-of-type(3) {
  top: 0.4rem;
  left: 0.4rem;
}
.text__text.-overlay.-color {
  opacity: 0.2;
}
.text__text.-overlay.-color:nth-of-type(1) {
  color: red;
}
.text__text.-overlay.-color:nth-of-type(2) {
  color: green;
}
.text__text.-overlay.-color:nth-of-type(3) {
  color: blue;
}
.text__text.-overlay.-border {
  opacity: 0.4;
}
.text__text.-overlay.-border:nth-of-type(1) {
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
.text__text.-overlay.-border:nth-of-type(2) {
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
.text__text.-overlay.-border:nth-of-type(3) {
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}
.text__options {
  display: inline-block;
  vertical-align: top;
  margin-top: 5.6rem;
}
.text__option {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #999;
  letter-spacing: 1px;
  line-height: 1.6rem;
}
.text__option.-em {
  color: red;
}
.text__option + .text__option {
  margin-top: 0.4rem;
}
