@charset "utf-8";
.slider {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #222429;
}
.slider__list {
  margin-top: 5.6rem;
}
.slider__item + .slider__item {
  margin-top: 5.6rem;
}
.slider__title {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #999;
  line-height: 2rem;
}
.slider__content {
  position: relative;
  margin-top: 3.1rem;
  padding-bottom: 6.9rem;
}
.slider__content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #666;
}
.slider__label {
  display: block;
  position: relative;
}
.slider__input {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  width: 50%;
  height: 1px;
  outline: 0;
  background-color: #fff;
}
.slider__input::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 9;
  width: 1rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem #222429;
}
.slider__input::-webkit-slider-thumb:hover,
.slider__input::-webkit-slider-thumb:focus {
  box-shadow: 0 0 1rem #222429, 0 0 0 1rem rgba(255, 255, 255, 0.2);
}
.slider__input::-moz-range-thumb {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 9;
  width: 1rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem #222429;
}
.slider__input::-moz-range-thumb:hover,
.slider__input::-moz-range-thumb:focus {
  box-shadow: 0 0 1rem #222429, 0 0 0 1rem rgba(255, 255, 255, 0.2);
}
.slider__label.-from .slider__input {
  width: 36.5%;
  margin-left: 13.5%;
}
.slider__label.-to .slider__input {
  width: 40.5%;
}
.slider__label.-limit .slider__input {
  width: 27%;
  margin-left: 13.5%;
}
.slider__content.-bidirection .slider__input {
  position: absolute;
  top: 0;
  left: 0;
}
.slider__range span {
  display: block;
  position: absolute;
  top: 2.1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #666;
  line-height: 1.6rem;
  letter-spacing: 1px;
}
.slider__track {
  position: relative;
  width: 50%;
  height: 1px;
  margin-top: -1px;
}
.slider__fill {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 1px;
  background-color: #74d2a8;
}
.slider__flag {
  position: absolute;
  top: 3.1rem;
  width: 8rem;
  height: 4rem;
  margin-left: -3.5rem;
  background-color: #0f0f13;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 4rem;
}
.slider__flag:before {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  left: 50%;
  margin-left: -0.8rem;
  border-right: 0.8rem solid transparent;
  border-bottom: 1rem solid #0f0f13;
  border-left: 0.8rem solid transparent;
}
